body {
    background: #2A7B9B;
    background: linear-gradient(0deg, rgba(42, 123, 155, 1) 25%, rgba(87, 199, 133, 1) 65%, rgba(237, 221, 83, 1) 100%);
}

.navbar {
    background:
            url("../img/header_bg.png") no-repeat right / contain, /* Image */
            radial-gradient(circle, rgba(245, 245, 245, 1) 0%, rgb(204, 204, 204) 100%) no-repeat right / contain; /* Dégradé */
    height: 150px;


}

h1 {
    color: rgba(42, 123, 155, 1);
}