body {
    background: linear-gradient(rgba(1, 20, 77, 0.89), rgba(115, 101, 66, 0.89));
    background-blend-mode: lighten;
}

.navbar {
    background-image: url("../img/bg_navbar.png");
    background-size: contain;
    height: 150px;
}

h1 {
    color: #ffe3be;
}